    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" id="nav-bar">
        <div class="flex-grow-1">
            <a aria-label="Home" (click)="toHome()" class="logo mr-2">
                <span class="yummedia-text">
                    Yum Media
                </span>
            </a>
        </div>
        <div class="flex-grow-1 float-right">
            <div>
                <a *ngIf="user" (click)="logOut()" class="float-right logout mr-2">Logout</a>
                <a *ngIf="!user" class="float-right register mr-2 nav-link" (click)="toRegister()">Register</a>
                <a *ngIf="!user" class="float-right login nav-link" (click)="toLogIn()">Login</a>
                <a *ngIf="user" class="float-right edit mr-2" (click)="openModal()">Edit Profile</a>
            </div>
        </div>
    </nav>

<!-- Edit Profile Modal -->
<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="updateEmployeeModalLabel">Edit Profile</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <h5 id="directions">Please refresh to see changes</h5>
                    <input type="hidden" ngModel="{{user?.id}}" name="id" class="form-control" id="id" placeholder="Email">
                    <div class="form-group">
                        <label for="name">First Name</label>
                        <input type="text" ngModel="{{user?.first_name}}" name="first_name" class="form-control" id="first_name" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <label for="name">Last Name</label>
                        <input type="text" ngModel="{{user?.last_name}}" name="last_name" class="form-control" id="last_name" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="email" ngModel="{{user?.email}}" name="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="phone">Username</label>
                        <input type="text" ngModel="{{user?.username}}" name="username" class="form-control" id="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="phone">Password</label>
                        <input type="text" ngModel="{{user?.password}}" name="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="biography">Biography</label>
                        <input type="text" ngModel="{{user?.bio}}" name="bio" class="form-control" id="bio" placeholder="Biography">
                    </div>
                    <input type="hidden" ngModel="{{user?.is_professional}}" name="is_professional" class="form-control" id="is_professional" placeholder="Email">
                    <input type="hidden" ngModel="{{user?.is_admin}}" name="is_admin" class="form-control" id="is_admin" placeholder="Email">
                    <input type="hidden" ngModel="{{user?.is_suspended}}" name="is_suspended" class="form-control" id="is_suspended" placeholder="Email">
                    <input type="hidden" ngModel="{{user?.is_flagged}}" name="is_flagged" class="form-control" id="is_flagged" placeholder="Email">
                    <input type="hidden" ngModel="{{user?.followers}}" name="followers" class="form-control" id="following" placeholder="Email">
                    <div class="modal-footer">
                        <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                        <button (click)="editProfile(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>