<h2>Home</h2>

<h5>Welcome to CookBook, {{currentUser.first_name}} {{ currentUser.last_name }} !</h5>
<p>Current UserID: {{ currentUser.id }}</p>

<h3>Posts</h3>

<mat-card *ngFor = "let p of post" class="post-card">
    <mat-card-header>
        <mat-card-title> <!-- {{ p.description }} --> FILLER TITLE </mat-card-title>
    </mat-card-header>

    <mat-card-header>
        <b>Post ID: </b> {{ p.post_id }}
    </mat-card-header>

    <mat-card-header>
        <b>User ID: </b> {{ p.user_id }}
    </mat-card-header>

    <mat-card-content>
        <p>
            <b>Description: </b> {{ p.description }}
        </p>
    </mat-card-content>

    <mat-card-content>
        <p>
            <b>Ingredients: </b> {{ p.ingredients }}
        </p>
    </mat-card-content>

    <mat-card-content>
        <p>
            <b>Image: </b> {{ p.img_url }}
        </p>
    </mat-card-content>

    <mat-card-content>
        <p>
            <b>Likes: </b> {{ p.likes }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <div class="button">
            <div class="edit">
                <!-- <button mat-button color="primary" >
                    <a routerLink="/post/findposts" class="btn btn-link"></a>details
                </button>  -->
                <button > <a routerLink="/post/findposts/{{p.post_id}}" class="btn btn-link">Details</a></button>

            </div>
        </div>

    </mat-card-actions>

</mat-card>

<!-- 
<mat-card *ngFor="let p of post" class="review-card">
    <mat-card-header>

        <mat-card-title>{{p.postId}}</mat-card-title>

    </mat-card-header>
    <b>Rating:</b> {{ r.rating }}
    <mat-card-content>
        <p>
            <b>Post: </b>{{ p.description }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <div class="button">
            <div class="edit"><button  (click)="onOpenDialogClick()" mat-button color="primary">edit</button> <app-reviews> </app-reviews></div>
            <div class="delete">
                <button mat-button color="warn">delete</button>
            </div>

        </div>

    </mat-card-actions>
</mat-card> -->