<!-- <div *ngIf="comment"> -->

    <!-- <h2>{{comment.commentDescription | uppercase}} Details</h2> -->
    <!-- <div><span>id: </span>{{comment.commentId}}</div>
    <div>
      <label for="comment-descr">Comment: </label>
      <input id="comment-descr" [(ngModel)]="comment.commentDescription">
    </div>

</div> -->

  <mat-card *ngIf = "comment" class="comment-card">
    <mat-card-header>

        <mat-card-title> {{comment.commentId}}</mat-card-title>

    </mat-card-header>
    <!-- <b>Rating:</b> {{ r.rating }} -->
    <mat-card-content>
        <p>
            <b>Comment: </b>{{ comment.commentDescription }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <div class="button">
            <div class="edit"><button mat-button color="primary">edit</button> </div>
            <div class="delete">
                <button mat-button color="warn">delete</button>
            </div>

        </div>

    </mat-card-actions>
</mat-card>